@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand:hover,.navbar-brand>span:hover{
    color: rgb(253, 23, 165) !important;
}

.nav-link.active{
    font-family: fantasy;
    font-weight: 100;
}

.nav-link.active:hover{
    background-color: rgb(243, 230, 230);
    border-radius: 3px;
    color: rgb(253, 23, 165) !important;
}

body{
    background-color: rgb(211, 122, 165);
}

.btn.btn-danger{
    color: rgb(255, 255, 255);
    background-color: rgb(253, 23, 165);
}

.dropdown-menu{
    background-color: rgb(241, 208, 241);
}

.dropdown-item{
    color: rgb(242, 14, 105);
    font-family: fantasy;
    font-weight: 100;
}

.dropdown-item:hover{
    background-color:rgb(241, 208, 241) ;
    color: rgb(253, 23, 165);
}