/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #c92f2f;
}

.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #000000;
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ff0000;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
  }


@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand:hover,.navbar-brand>span:hover{
    color: rgb(253, 23, 165) !important;
}

.nav-link.active{
    font-family: fantasy;
    font-weight: 100;
}

.nav-link.active.home{
    font-family: fantasy;
    font-weight: 100;
background-color: #f2b0c9;
border-radius: 3px;
}

.nav-link.active:hover{
    background-color: rgb(243, 230, 230);
    border-radius: 3px;
    color: rgb(253, 23, 165) !important;
}

body{
    background-color: rgb(211, 122, 165);
}

.btn.btn-danger{
    color: rgb(255, 255, 255);
    background-color: rgb(253, 23, 165);
}

.dropdown-menu{
    background-color: rgb(241, 208, 241);
}


.dropdown-item{
    color: rgb(242, 14, 105);
    font-family: fantasy;
    font-weight: 100;
    transition: transform .5s;
}

.dropdown-item:hover{
    background-color:#7c0c37;
    transform: scale(0.9);
    color: rgb(253, 23, 165);
}

.btn.btn-danger{
    font-family: 'Franklin Gothic Medium';
    font-weight: 900;
    color: rgb(245, 196, 196) !important;
    box-shadow: 0 0 1px #ccc;
    transition-duration: 0.8s;
    transition-duration: linear;
    box-shadow:0px 0 0 #48a5d3  inset;
    background-color: #ba0070;
}

.btn.btn-danger:hover{
    box-shadow:100px 0 0 #ff00bb inset;
}